// Fonts
// $primary-font: Arial, Helvetica, sans-serif;
   $primary-font-family: 'Roboto', sans-serif;




// Color
// $base-color: #e23434;
// $text-color: #2d2d2d;
 $header-link-color:#242056;
 $dropdown-color:#F56C28;

// Container and Grid Spacing
// $container-width: 1170px;
// $grid-space: 15px;

// path
// $images-path: "../images" !default;

// icomoon
