// Fonts
// $primary-font: Arial, Helvetica, sans-serif;
   $primary-font-family: 'Roboto', sans-serif;




// Color
// $base-color: #e23434;
// $text-color: #2d2d2d;
 $header-link-color:#242056;
 $dropdown-color:#F56C28;

// Container and Grid Spacing
// $container-width: 1170px;
// $grid-space: 15px;

// path
// $images-path: "../images" !default;

// icomoon


$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icons" !default;

$icon-cash: "\e900";
$icon-cash-in-hand: "\e901";
$icon-dropdown-icon: "\e902";
$icon-eye-icon: "\e903";
$icon-facebook: "\e904";
$icon-header-button-icon: "\e905";
$icon-head-phon: "\e906";
$icon-home-icon: "\e907";
$icon-left-slider-arrow: "\e908";
$icon-quick-link-after: "\e909";
$icon-right-arrow: "\e90a";
$icon-right-slider-arrow: "\e90b";
$icon-slider-arrow-left-happy: "\e90c";
$icon-slider-arrow-right-happy: "\e90d";
$icon-twittwer: "\e90e";
$icon-whataap: "\e90f";
$icon-youtub: "\e910";
